.greetingForm {

}

.inputAndButtonContainer {
    box-sizing: border-box;
    position: absolute;
    left: 70px;
    right: 838px;
    top: 224px;
    bottom: 294px;
    display: flex;
}

hr {
    position: absolute;
    width: 1290px;
    top: 167px;
    color: #D9D9D9;
    border: 1px solid #D9D9D9;

}


.error {
    width: 165px;
    height: 17px;
    bottom: 270px;
    left: 70px;
    top: 267px;
    font-family: Montserrat sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #CC0000;
}

.input {
    border: 1px solid black;
    border-radius: 5px;
    width: 372px;
    height: 32px;

}

.input:focus {
}

.errorInput {
    border: 1px solid #CC0000;
    border-radius: 5px;
    width: 372px;
    height: 32px;
}

.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 24px;
    gap: 10px;
    background: #0066CC;
    width: 78px;
    height: 36px;
    left: 454px;
    top: 224px;
    color: white;
    margin-left: 20px;



}

.button:focus {
}

.button:active {

}

.button:disabled {
    opacity: 0.5;
    border-radius: 3px;
}

.text {
    position: absolute;
    width: 143px;
    height: 17px;
    left: 70px;
    top: 198px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: rgba(0, 0, 0, 0.5);
}

.greeting {
    position: absolute;
    width: 144px;
    height: 17px;
    left: 70px;
    top: 270px;
    font-family: Montserrat sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;

}
